body{ 
    
 /*border: double cornflowerblue;*/
background:#af5e4a; 
color:#0c2350;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold; 
font-size:18px;
}

h1{
     /*border: double cornflowerblue;*/
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 3px 3px 3px #89af8f;
    font-size:40px;
}
h2{
    /*border: double cornflowerblue;*/
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(215, 208, 208);
    text-shadow: 3px 3px 3px #1e45b2;
    font-size:40px;
}
.legend{
    font-size:20px;
}
h3{
    /*border: double cornflowerblue;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(175, 167, 167);
    text-shadow: 3px 3px 3px #062d3a;
    font-size:30px;
    }
p {
    color:black;
    font-size:20px;
}
.p2{
    text-align: left;
}

ul{
    color:black;
    font-size: 20px;
    
}

li{
    color:black;
}
ol{
    color:black;
    font-size:20px;
}

.footer{
color:black;
display: flex;
justify-content:center;
gap:600px;
padding:20px;

}

/*End of styles*/

/*.wrapper{
 display: flex;
}

.wrapper div {

  flex: 1;

}*/

.box1{ 
/*border: double cornflowerblue;*/
padding:17px;
margin:6px;
}

.box2{
/*border: double cornflowerblue;*/
padding:10px;
margin:5px;


}

.box3{ 
/*border: double cornflowerblue;*/
padding:10px;
margin:5px;
position:relative;
top:10px;
left:150px;
}
    
.box4{ 
/*border: double cornflowerblue;*/
padding:10px;
margin:5px;

}
    
.box5{
/*border: double cornflowerblue;*/
padding:10px;
margin:15px;
position:relative;
top:-950px;
left:990px;


}

.box6{ 
/*border: double cornflowerblue;*/
padding:10px;
margin:5px;
position:relative;
top:-300px
}
.img{
    max: width 100%; 
    height:auto;
}
*{
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
    width:33.33%;
    padding:15px;
}

.row::after{
    content: "";
    clear: both;
    display: block;

}










